<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htf.diva">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_radius"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diva">
        <activity android:name=".dashboard.ui.HomeActivity"/>
        <activity android:name=".auth.ui.AboutYouActivity" />
        <activity android:name=".auth.ui.OtpActivity" />
        <activity android:name=".auth.ui.LoginActivity" />
        <activity android:name=".auth.ui.MyProfileActivity"/>
        <activity android:name=".auth.ui.EditProfileActivity"/>
        <activity android:name=".auth.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Diva" />

        <service
            android:name=".dashboard.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".dashboard.ui.NotificationActivity"/>
        <activity android:name=".dashboard.homeDietPlan.DietWeekDaysActivity"/>
        <activity android:name=".dashboard.homeDietPlan.MealTypesActivity"/>
        <activity android:name=".dashboard.homeDietPlan.DietPlanActivity"/>
        <activity android:name=".dashboard.ui.PersonalTrainersActivity"/>
        <activity android:name=".dashboard.ui.FilterActivity"/>
        <activity android:name=".dashboard.ui.CustomerSupportActivity"/>
        <activity android:name=".dashboard.ui.AboutUsActivity"/>
        <activity android:name=".dashboard.bookTrainer.TrainerDetailActivity"/>
        <activity android:name=".dashboard.bookTrainer.SelectSlotsActivity"/>
        <activity android:name=".dashboard.bookTrainer.TrainerBookingSummaryActivity"/>
        <activity android:name=".dashboard.bookFitnessCenter.CenterActivity"/>
        <activity android:name=".dashboard.bookFitnessCenter.CenterDetailBookingActivity"/>
        <activity android:name=".dashboard.bookFitnessCenter.FitnessCenterSummaryActivity"/>
        <activity android:name=".dashboard.upComingCompletedBookingDetails.CenterBookingDetailsActivity"/>
        <activity android:name=".dashboard.bookTrainerWithCenter.TrainerListActivity"/>
        <activity android:name=".dashboard.bookTrainerWithCenter.BookTrainerCenterDetailActivity"/>
        <activity android:name=".dashboard.bookTrainerWithCenter.TrainerCenterSlotsActivity"/>
        <activity android:name=".dashboard.bookTrainerWithCenter.BookingSummaryTrainerCenterActivity"/>
        <activity android:name=".dashboard.payment.PaymentHistoryActivity"/>
        <activity android:name=".dashboard.homeWorkoutPlan.CreateWorkoutPlanActivity"/>
        <activity android:name=".dashboard.homeWorkoutPlan.WorkoutDayActivity"/>

        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Checkout.Dark"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:windowSoftInputMode,theme" />

        <activity android:name=".dashboard.ui.BookingSuccessfullyActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data android:scheme="com.htf.diva" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>


    </application>

</manifest>